<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">
                <!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Home</li><li>StockMovement</li><li>PO</li>
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content">

				
				<!-- widget grid -->
				<section id="widget-grid" class="">
                    <!-- row -->
					<div class="row">
						<article class="col-sm-12 col-md-12 col-lg-6">
							<!-- new widget -->
							<div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">

								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->

								<header>
									<span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>
									<h2> Select Products </h2>
									<!-- <div class="widget-toolbar">
									add: non-hidden - to disable auto hide

									</div>-->
								</header>

								<!-- widget div-->
								<div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>S.No.</th><th>Prod Code</th><th>Prod Name</th><th>Inventory</th><th>Purchase</th>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{$index+1}}</td>
            <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td>{{product.inventory}}</td>
            <td><button class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Add</button></td>
        </tr>
    </table>
									

								</div>
								<!-- end widget div -->
							</div>
							<!-- end widget -->

						</article>
						<article class="col-sm-12 col-md-12 col-lg-6">
							<!-- new widget -->
							<div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">

								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->

								<header>
									<span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>
									<h2> Purchase Order </h2>
									<!-- <div class="widget-toolbar">
									add: non-hidden - to disable auto hide

									</div>-->
								</header>

								<!-- widget div-->
								<div>
<p style="font-size: 14pt">Supplier:PFizer     Date:13-Jan-16</p>    <br>
   <table class="table table-bordered">
    <tr>
        <th>S.No.</th><th>Product</th><th>Qty</th><th>Unit Price</th><th>Total</th>
    </tr>
    <tr>
        <td colspan="5">No Products Selected</td>
    </tr>
</table>
									

								</div>
								<!-- end widget div -->
							</div>
							<!-- end widget -->

						</article>

					</div>

					<!-- end row -->

				</section>
				<!-- end widget grid -->

			</div>
			<!-- END MAIN CONTENT -->

		</div>